.photo__grid {
  width: 1184px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  justify-content: center;
  margin: 118px auto;
  gap: 16px 16px;
}

.photo__grid__photo {
  width: 284px;
  height: 213px;
}
