.photo__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);

  margin: 118px auto 0;
  gap: 16px 16px;
  margin: 118px 48px;
}

.photo__grid__photo {
  width: 100%;
}
